@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Noto+Sans:wght@200;300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Fira Code', sans-serif;
}

.login-bg,
.register-bg {
    background-image: url('../src/assets/login-register-wrapper-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    background-image: url('../src/assets/smart-home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 95vh;
}

.inner-pg {
    width: 83.33%;
    margin: 0 auto;
    padding: 20px 0px;
}

.bg-gradient {
    background-image: linear-gradient(to right, #6561B8, #4D5BB4);
}